/*
	_buildy.scss
	Created by Richir Outreach with "Presence" as a base
	Buildy V0.2.1
*/

/*
	--------------------------------------------------------------------------
		Imports & Variables
	--------------------------------------------------------------------------
*/

// Some of NB's plugins need this color
$theme-color-2: $primary-color;

// Default Foundation Settings
@import "settings";

// Load Foundation
@import "foundation";

// Some custom NB Mixins needed for other files to work
@import "custom-mixins";

// compass css3 mixins
@import "compass/css3";

// border-radius mixin
@import "border_radius";

// Timer
@import "timer";

// Progress Bar
@import "progress-bar";

// activity and page icons
@import "icons";

// user icon tooltips
@import "tooltips";


/*
	--------------------------------------------------------------------------
		General Styles
	--------------------------------------------------------------------------
*/

#body.row, #header.row, #features-row, #footer.row {
	background: white;
}

#body {
	padding-top: 2rem;
}

#footer {
	padding-bottom: 2rem;
	padding-top: 1rem;
}

.button {

	&.small {
		padding: 0.5rem 1rem;
	}

	.fa {
		padding-right: 0.5rem;
	}
}
 
.hidden {
	display: none;
}

.form-error {
	color: red;
}

input[type="text"] {
	&.error {
		background-color: rgba(255, 0, 0, 0.25);
	}
}

.byline {
	font-size: 0.8rem;
	padding-bottom: 10px;
}

#flash {
	background: $primary-color;
	color: white;
	margin: 1rem;
	padding: 1rem;

	.flash-message {
		float: left;
		font-size: 1.15rem;
		padding-top: 5px;
	}

	.flash-close {
		float: right;
		padding: 0.25rem;
		margin-bottom: 0;
	}
}

.sub-nav {
	display: none;
}

.pc {
	background: $primary-color;
	border: 1px solid darken($primary-color, 10);
	color: white;
	padding: 0.25rem;
}

.progress {
	.bar-success {
		background-color: $info-color;

		.bar-text {
			color: white;
		}
	}
}

/*
	--------------------------------------------------------------------------
		Legacy Presence Classes
	--------------------------------------------------------------------------
*/

// These classes are "left over" from NationBuilder / Presence and should 
// eventually be coded out of the html.

.mobile-visible, .tablet-visible, .desktop-visible {
	display: none;
}

.mobile-visible {
	@media #{$small-only} {
		display: block;
	}
}

.tablet-visible {
	@media #{$medium-only} {
		display: block;
	}
}

.desktop-visible {
	@media #{$large-up} {
		display: block;
	}
}

.padtopless {
	padding-top: 0.5rem
}

.padtop {
	padding-top: 1rem;
}

.padtopmore {
	padding-top: 1.5rem;
}

.padbottomless {
	padding-bottom: 0.5rem;
}

.padbottom {
	padding-bottom: 1rem;
}

.padbottommore {
	padding-bottom: 1.5rem;
}

.center {
	text-align: center;
}

.small-button {
	@extend .button.small;
}

/*
	--------------------------------------------------------------------------
		Header
	--------------------------------------------------------------------------
*/
 
#header > .large-12 {
	padding: 0;
}

 
/*
	--------------------------------------------------------------------------
		Slideshow
	--------------------------------------------------------------------------
*/

.large-12.features {
	padding: 0;
}

#page-features {
	.orbit-caption {
		a {
			color: white;
		}
	}
}

 
/*
	--------------------------------------------------------------------------
		Navigation
	--------------------------------------------------------------------------
*/


/*
	--------------------------------------------------------------------------
		Footer
	--------------------------------------------------------------------------
*/
 

/*
	--------------------------------------------------------------------------
		New User Page  (user_sessions_new_wide.html)
	--------------------------------------------------------------------------
*/

.content-user-sessions-new-wide {
	h2 {
		font-size: 1.75rem;
		text-align: center;	
	}

	.center h4 {
		margin-top: 3rem;
		font-size: 1.75rem;
	}

	.signin-with-facebook, .signin-with-twitter {
		display: inline-block;
		margin: 0 1rem;
	}
}

/*
	--------------------------------------------------------------------------
		Sidebar (_supporter_nav.html)
	--------------------------------------------------------------------------
*/ 

.supporter-nav {
	list-style-type: none;
	margin: 0;

	.button {
		width: 100%;
		padding: 1rem;
	}
}

.right-column .pricing-table .price {
  font-size: 1.3rem;
}


/*
	--------------------------------------------------------------------------
		Sidebar (_non_supporter_nav.html)
	--------------------------------------------------------------------------
*/

.right-column .email-signup {
	.button {
		width: 100%;
	}
}


/*
	--------------------------------------------------------------------------
		Like Page (_like_page.html)
	--------------------------------------------------------------------------
*/

.sharetable.row {
	margin: 0.5rem 0;

	.large-5.columns {
		padding: 0;
	}
}


/*
	--------------------------------------------------------------------------
		Donation Page (pages_show_donation_wide.html)
	--------------------------------------------------------------------------
*/

.form-progress-indicator {
	ul {
		list-style-type: none;
		text-align: center;
		margin: 1rem 0;

		li {
			display: inline-block;
			width: 45px;
			margin-right: 55px;
			position: relative;

			&.stage-1:after, &.stage-2:after {
				content: " ";
				width: 64px;
				height: 0;
				border-bottom: 9px solid $primary-color;
				position: absolute;
				top: 45px;
				left: 43px;
				z-index: 0;
			}

			&.stage-2 {
				.stage-label {
					left: -10px;
				}
			}

			&.active {
				.stage-count-inner {
					background: darken($primary-color, 15);
				}
			}

			.stage-label {
				left: -2px;
				font-size: 0.75rem;
				font-weight: 600;
				text-transform: uppercase;
				position: relative;
				white-space: nowrap;
			}

			.stage-count {
				position: relative;
				display: block;
				color: #fff;
				width: 45px;
				height: 45px;
				text-align: center;
				background: $primary-color;
				z-index: 5;
				border-radius: 99px;
	
				.stage-count-inner {
					width: 29px;
					height: 29px;
					left: 8px;
					top: 8px;
					line-height: 29.5px;
					font-weight: 700;
					display: block;
					border-radius: 99px;
					background: darken($primary-color, 10);
					color: white;
					position: relative;

					&.icon-tick {
						text-indent: -9999px;
						cursor: pointer;

						&::before {
							color: #fff;
							position: absolute;
							width: 29px;
							line-height: 31px;
							z-index: 20;
							opacity: 1;
							text-align: center;
							top: 0;
							left: 0;
							font-size: 1.25em;
							cursor: pointer;
							text-indent: 0;
							content: '\2713';
						}
					}
				}
			}
		}
	}
}

.page-pages-show-donation-wide {
	.radio-inline {
		input[type="radio"] {
			display: none;
		}

		label.radio {
			background-color: $primary-color;
			color: #fff;
			display: inline-block;
			min-width: 80px;
			padding: .625em 1em;
			font-family: "Lato",Helvetica,sans-serif;
			font-weight: bold;
			font-size: 1.25em;
			text-align: center;
			margin: .3em .3em .3em 0;
			cursor: pointer;
			outline: none;	
		}
	}
}



/*
	--------------------------------------------------------------------------
		Calendar Page (pages_show_calendar.html, pages_show_calendar_wide.html)
	--------------------------------------------------------------------------
*/

ul.event-wrap {
	list-style-type: none;
	margin-left: 0;
}

/*
	--------------------------------------------------------------------------
		Event Page (pages_show_event.html, pages_show_event_wide.html)
	--------------------------------------------------------------------------
*/

.event-detail {
	margin-bottom: 1rem;
	line-height: 1.5;

	.subhead {
		font-weight: bold;
		text-transform: uppercase;
	}

	.subext {
		font-style: italic;
	}

	&:last-child {
		margin-bottom: 0;
	}
}


/*
	--------------------------------------------------------------------------
		Paid Membership Page (pages_show_paid_membership_wide.html)
	--------------------------------------------------------------------------
*/

.membership-list {
	list-style-type: none;

	li {
		padding-bottom: 2rem;
	}
}