{% if page.features_count > 0 %}

{% if page.features.size > 0 %}

{% assign first_feature_height = page.features.first.image_height %}
{% if page.features.size == 1 %}
  {% assign first_feature_height = 'none' %}
{% endif %}

<div id="page-features" class="page-features" style="max-height: {{ first_feature_height }}px">

  {% if page.features.size == 1 %}
  
  {% for feature in page.features %}
  <a href="{{ feature.page.url }}" class="single-feature">
    <img src="{{ feature.image_url }}" height="{{ feature.image_height }}" width="{{ feature.image_width }}"/>
  </a>
    {% if feature.headline.size > 0 %}
      <a class="features-headline desktop-visible" href="{{ feature.page.url }}">{{ feature.headline }}</a>
    {% endif %}
  {% endfor %}
  
  {% else %}
  <div id="feature-slides" class="feature-slides">
    <img src="/assets/loading.gif" alt="loading" class="slider-loading" style:"display:block !important;">

    <ul class="slides clearfix" >

      {% for feature in page.features %}
      <li>
        <a href="{{ feature.page.url }}">
          <img src="{{ feature.image_url }}" height="{{ feature.image_height }}" width="{{ feature.image_width }}"/>
        </a>
        {% if feature.headline.size > 0 %}
        <a class="features-headline desktop-visible" href="{{ feature.page.url }}">{{ feature.headline }}</a>
        <a href="{{ feature.page.url }}" class="submit-link desktop-visible">Learn More</a>
        {% endif %}
      </li>
      {% endfor %}

    </ul>
  </div>
  
  {% endif %}

  {% if site.has_meta_image? %}
    <div class="site-logo header-wrap">
      <header><a href="/"><img src="{{ site.meta_image_url }}"></a></header>
    </div>
  {% else %}
    <div class="header-wrap">
      <header><h1 class="title"><a href="/">{{ site.long_name }}</a></h1></header>
    </div>
  {% endif %}
  
</div>

{% endif %}

{% endif %}