<!-- @START _features.html -->
{% if page.features_count > 0 %}
	{% if page.features.size > 0 %}
		<div id="page-features" class="page-features">
			<ul class="orbit-slider" data-orbit>
				{% for feature in page.features %}
					<li class="slide-{{ forloop.index }}">
						<a href="{{ feature.page.url }}">
							<img src="{{ feature.image_url }}" height="{{ feature.image_height }}"/>
							
							{% if feature.headline.size > 0 %}
								<div class="orbit-caption">
									<a class="features-headline" href="{{ feature.page.url }}">{{ feature.headline }}</a>
								</div> <!-- orbit-caption -->
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul> <!-- .orbit-slider -->      
		</div> <!-- .page-features -->
	{% endif %}
{% endif %}
<!-- @END _features.html -->