<!-- @START _nav.html -->
<nav id="menu" role="navigation" class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
      <h1><a href="/">{{ site.name }}</a></h1>
		</li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>{{ t_Menu }}</span></a></li>
	</ul> <!-- .title-area -->

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul id="topnav" class="right topnav">
			{% for child in site.root_nav_pages %}
				{% if child.leaf? or child.nav_children.size == 0 %}
					<li {% if child.is_or_is_ancestor_of_current_page? %}class="active"{% endif %}>
						<a href="{{ child.url }}">{{ child.name }}</a>
					</li>
				{% else %}
					<li class="{% if child.is_or_is_ancestor_of_current_page? %}active{% endif %} drop has-dropdown">
						<a href="{{ child.url }}">{{ child.name }}</a>
						
						<ul class="sub dropdown">
							{% if site.show_parent_in_nav_dropdown? %}
								<li class="show-parent"><a href="{{ child.url }}">{{ child.name }}</a></li>
							{% else %}
								<li class="show-parent mobile-visible"><a href="{{ child.url }}">{{ child.name }}</a></li>
							{% endif %}

							{% for child2 in child.nav_children %}
								<li><a href="{{ child2.url }}">{{ child2.name }}</a></li>
							{% endfor %}
						</ul>
					</li>
				{% endif %}
			{% endfor %}
		</ul> <!-- #topnav -->
	</section> <!-- .top-bar-section -->	
</nav> <!-- #menu -->
<!-- @END _nav.html -->