<!-- @START _non_supporter_nav.html -->
<ul class="supporter-nav sign-in-buttons">
	<li><a class="email button supporter-nav-button" href="/login"><i class="fa fa-user"></i> Sign in with Email</a></li>
	<li><a class="facebook button supporter-nav-button" href="{{ request.facebook_connect_url }}"><i class="fa fa-facebook"></i> Sign in with Facebook</a></li>
	<li><a class="twitter button supporter-nav-button" href="{{ request.twitter_connect_url }}"><i class="fa fa-twitter"></i> Sign in with Twitter</a></li>
</ul>

{% if site.has_signup_page? %}
	{% include "signup_form" with site.signup_page %}
{% endif %}

{% if site.has_button1? %}
	<a class="button supporter-nav-button" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
{% endif %}

{% if site.has_button2? %}
	<a class="button supporter-nav-button" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
{% endif %}

{% if site.has_button3? %}
	<a class="button supporter-nav-button" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
{% endif %}

{% if site.has_facebook_page? %}
	<div class="desktop-visible">
		<div class="fb-like-box" data-href="{{ site.broadcaster.facebook_page_profile_url }}" data-width="200" data-show-faces="true" data-stream="false" data-header="false"></div>
	</div>

	<div class="mobile-visible">
		<div class="fb-like-box" data-href="{{ site.broadcaster.facebook_page_profile_url }}" data-width="200" data-stream="false"></div>
	</div>
{% else %}
	<fb:like href="{{ site.full_url }}" colorscheme="{{ site.facebook_colorscheme }}" width="200"></fb:like>
{% endif %}

{% if site.has_twitter? %}
	<div class="padtopmore">
		<a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
	</div>
{% endif %}

{% if page and page.has_rss? %}
	<div class="padtopmore">
		<a href="{{ page.rss_url }}"><i class="icon-rss"></i></a> <a href="{{ page.rss_url }}">Subscribe with RSS</a>
	</div>
{% elsif page and page.has_parent? and page.parent.has_rss? %}
	<div class="padtopmore">
		<a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i></a>
		<a href="{{ page.parent.rss_url }}">Subscribe with RSS</a>
	</div>
{% endif %}
<!-- @END -->