<!-- @START pages_show_find_friends_wide.html -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	{% if request.logged_in? %}

		{% if request.current_signup.has_facebook_authorization? %}
			<!-- facebook connected -->
			<div class="more">
			You connected your Facebook account.
			</div>
			<div class="form-wrap facebook-box">
				<div class="">
					<img src="{{ "facebook_logo.png" | asset_path }}" width="94" height="20" alt="Facebook" title="Facebook" />
				</div>
				{% include "find_friends_facebook" %}
			</div> <!-- .form-wrap -->
		{% else %}
			<!-- not connected state -->
			<div class="more">
				<div class="less"><strong>You have <em>not</em> connected your Facebook account.</strong></div>
		
				<a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
			</div>
		{% endif %}

		{% if request.current_signup.has_twitter_authorization? %}
			<!-- twitter connected -->
			<div class=" more">
			You connected your Twitter account.
			</div>
			<div class="form-wrap twitter-box">
				<div class="">
					<img src="/assets/twitter_logo.png" width="94" height="20" alt="Twitter" title="Twitter" />
				</div>
				{% include "find_friends_twitter" %}
			</div> <!-- .form-wrap -->
		{% else %}
			<!-- not connected state -->
			<div class=" more">
				<div class="less"><strong>You have <em>not</em> connected your Twitter account.</strong></div>
					<a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
			</div>
		{% endif %}
	
	{% else %}
		<!-- not connected state -->
		<div class="more">
			<div class="less"><strong>You have <em>not</em> connected your Facebook account.</strong></div>
				<a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
		</div>
		<div class=" more">
			<div class="less"><strong>You have <em>not</em> connected your Twitter account.</strong></div>
				<a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
		</div>
	{% endif %}

</div> <!-- .content -->
<!-- @END pages_show_find_friends_wide.html -->