<!-- @START pages_show_blog_post.html -->
{% include "breadcrumbs" %}

{% include 'translation_strings' %}

<div class="headline">
	<h2>{{ page.headline }}</h2>

	{% if page.has_author? %}
		{% include "page_byline" %}
	{% endif %}
</div> <!-- .headline -->

<div id="content">
	<div id="intro" class="intro">
		<div class="content">
			{{ page.blog_post.content_full }}
		</div> <!-- .content -->
	</div> <!-- .intro -->

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div> <!-- .page-tags -->
	{% endif %}

	<div class="like-page">
		<strong>Do you like this post?</strong>

		{% include "like_page" %}
	</div> <!-- .like-page -->

	{% if page.show_stream? %}
		{% include "page_stream" %}
	{% endif %}
</div> <!-- #content -->
<!-- @END pages_show_blog_post.html -->