<!-- @START pages_show_volunteer_signup.html -->
{% include "breadcrumbs" %}

{% include "headline" %}

{% include "translation_strings" %}

<div id="content">
	{% if page.volunteer_signup.content.size > 0 %}
		<div id="intro" class="intro">
			{{ page.volunteer_signup.content }}
		</div> <!-- .intro -->
	{% endif %}

	{% if page.show_social_slider? and page.public_activities_count > 0 %}
		{% include "social_slider" %}
	{% endif %}

	<div class="form-wrap">
		<div class="form">
			{% if request.sorta_logged_in? %}
				{% if request.current_signup.is_volunteer? %}
      <h4>{{ t_general_hi }} {{ request.current_signup.name_or_email }}, {{ t_volunteer_have_you_down }}</h4>

					<div class="padtop">
            {{ t_volunteer_update_info }}
					</div>
				{% else %}
      <h4>{{ t_general_hi }} {{ request.current_signup.name_or_email }}, {{ t_volunteer_can_you }}</h4>
				{% endif %}

				{% if request.logged_in? == false %}
					<div class="padtop">
            {{ t_general_youarenot }}
					</div>
				{% endif %}
			{% else %}
      <h4>{{ t_volunteer_will_you }}</h4>
			{% endif %}

			{% form_for volunteer_signup %}
				<div class="form-errors">{% error_messages_for volunteer_signup %}</div>

				<div class="padtopmore">
					{% for volunteer_type in page.volunteer_signup.volunteer_types %}
						<div class="row">
							<div class="large-12 columns">
								<label class="checkbox">
									{% check_box_tag 'volunteer_signup[volunteer_type_ids][]', volunteer_type.id, collection:volunteer_signup.volunteer_type_ids, member:volunteer_type.id, class:"checkbox" %}
									{{ volunteer_type.name }}
								</label>
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
					{% endfor %}
				</div>

				{% hidden_field_tag 'volunteer_signup[volunteer_type_ids][]', '' %}

				{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
					<div class="row">
						<div class="large-6 columns">
              <label for="volunteer_signup_first_name"> {{ t_general_first_Name }}</label>
							{% text_field "first_name", class:"text" %}
						</div> <!-- .large-6 -->
				
						<div class="large-6 columns">
              <label for="volunteer_signup_last_name">{{ t_general_last_Name }}</label>
							{% text_field "last_name", class:"text" %}
						</div> <!-- .large-6 -->
					</div> <!-- .row -->
				{% endif %}

				{% if request.sorta_logged_in? == false %}
					<div class="row">
						<div class="large-6 columns">
              <label for="volunteer_signup_email">{{ t_general_email }}</label>
							{% email_field "email", class:"text" %}
						</div> <!-- .large-6 -->
				
						{% if site.ask_for_mobiles? %}
							<div class="large-6 columns">
                <label for="volunteer_signup_mobile_number">{{ t_general_mobil_phone }}</label>
								{% phone_field "mobile_number", class:"text" %}
							</div> <!-- .large-6 -->
						{% endif %}
					</div> <!-- .row -->

					<div class="row">
						<div class="large-6 columns">
              <label class="checkbox" for="volunteer_signup_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} {{ t_general_send_email_updates }}</label>
						</div> <!-- .large-6 -->

						{% if site.ask_for_mobiles? %}
							<div class="large-6 columns">
                <label class="checkbox" for="volunteer_signup_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} {{ t_general_send_text_messages }}</label>
							</div> <!-- .large-6 -->
						{% endif %}
					</div> <!-- .row -->
				{% endif %}

				{% if page.volunteer_signup.is_phone? %}
					<div class="row">
						<div class="large-6 columns">
              <label for="volunteer_signup_phone_number">{{ t_general_phone }}</label>
							{% phone_field "phone_number", class:"text" %}
						</div> <!-- .large-6 -->
				
						<div class="large-6 columns">
              <label for="volunteer_signup_phone_time">{{ t_callwhen }}</label>
							{% text_field "phone_time", class:"text" %}
						</div> <!-- .large-6 -->
					</div> <!-- .row -->
				{% endif %}

				{% if page.volunteer_signup.is_address? %}
					{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
						<div class="row">
							<div class="large-12 columns">
                <label for="volunteer_signup_submitted_address">{{ t_general_address }}</label>
								{% text_field "submitted_address", class:"text" %}
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
					{% endif %}
				{% endif %}

				<div class="row">
					<div class="large-12 columns">
            <label for="volunteer_signup_availability">{{ t_volunteer_when_available }}</label>
						{% text_field "availability", class:"text" %}
					</div> <!-- .large-12 -->
				</div> <!-- .row -->

				<div class="row">
					<div class="large-12 columns">
            <label for="volunteer_signup_content">{{ t_volunteer_comments_etc }}</label>
						{% text_area "content", class:"textarea autogrow" %}
					</div> <!-- .large-12 -->
				</div> <!-- .row -->

				{% if site.ask_to_publish_to_stream? %}
					<div class="row">
						<div class="large-12 columns">
              <label class="checkbox" for="volunteer_signup_is_private">{% check_box "is_private", class:"checkbox" %} {{ t_bomb_do_not_publish }}</label>
						</div> <!-- .large-12 -->
					</div> <!-- .row -->
				{% endif %}

				{% submit_tag "Save volunteer info", class:"submit-button button alert submit" %}
				<div class="form-submit"></div>
			{% endform_for %}
		</div> <!-- .form -->
	</div> <!-- .form-wrap -->

	{% if page.tags_count > 0 %}
		<div id="page-tags" class="page-tags">
			{% include "page_tags" with page %}
		</div> <!-- .page-tags -->
	{% endif %}

	<div class="like-page">
    <strong>{{ t_volunteer_like }}</strong>
		{% include "like_page" %}
	</div> <!-- .like-page -->

	{% if page.show_stream? %}
		{% include "page_stream" %}
	{% endif %}
</div> <!-- #content -->
<!-- @END pages_show_volunteer_signup.html -->