<!-- @START pages_show_signup.html -->
{% include 'translation_strings' %}

{% include "breadcrumbs" %}

{% include "headline" %}

<div id="content">
	{% if page.signup.content.size > 0 %}
		<div id="intro" class="intro">
			{{ page.signup.content }}
		</div> <!-- .intro -->
	{% endif %}

	{% if page.show_social_slider? and page.public_activities_count > 0 %}
		{% include "social_slider" %}
	{% endif %}

	<div class="form-wrap">
		<div class="form">
			{% form_for signup %}
				{% if request.sorta_logged_in? %}
      <h4>{{ t_signup_thanks_joining }}</h4>

					{% if request.logged_in? == false %}
						<div class="padbottommore">
              <small>{{ t_general_youarenot }}</small>
						</div>
					{% endif %}
				{% endif %}

				<div class="form-errors">{% error_messages_for signup %}</div>

				{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
					<div class="row">
						<div class="large-6 columns">
              <label for="signup_first_name">{{ t_general_first_Name }}</label>
							{% text_field "first_name", class:"text" %}
						</div> <!-- .large-6 columns -->

						<div class="large-6 columns">
              <label for="signup_last_name">{{ t_general_last_Name }}</label>
							{% text_field "last_name", class:"text" %}
						</div> <!-- .large-6 columns -->
					</div> <!-- .row -->
				{% endif %}

				{% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
					<div class="row">
						<div class="large-6 columns">
              <label for="signup_email">{{ t_general_email }}</label>
							{% email_field "email", class:"text" %}
						</div> <!-- .large-6 -->

						{% if site.ask_for_mobiles? %}
							<div class="large-6 columns">
                <label for="signup_mobile_number">{{ t_general_mobil_phone }}</label>
								{% phone_field "mobile_number", class:"text" %}
							</div> <!-- .large-6 -->
						{% endif %}
					</div> <!-- .row -->

					<div class="row">
						<div class="large-6 columns">
              <label class="checkbox" for="signup_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} {{ t_general_sendmeupdates }}</label>
						</div> <!-- large-6 -->

						{% if site.ask_for_mobiles? %}
							<div class="large-6 columns">
                <label class="checkbox" for="signup_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} {{ t_general_send_text_messages }}</label>
							</div> <!-- .large-6 -->
						{% endif %}
					</div>
				{% endif %}

				{% if page.signup.is_phone? %}
					<div class="row">
						<div class="large-12 columns">
              <label for="signup_phone_number">{{ t_general_phone }}</label>
							{% phone_field "phone_number", class:"text" %}
						</div> <!-- .large-12 -->
					</div> <!-- .row -->
				{% endif %}

				{% if page.signup.is_address? %}
					{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
						<div class="row">
							<div class="large-12 columns">
                <label for="signup_submitted_address">{{ t_general_address }}</label>
								{% text_field "submitted_address", class:"text" %}
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
				
						<div class="row">
							<div class="large-12 columns">
                <label for="signup_country_code">{{ t_country }}</label>
								{% collection_select "country_code", page.signup.countries, "code", "name", class:"select" %}
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
					{% endif %}
				{% endif %}

				{% if page.signup.has_optional_tags? %}
					<div class="row">
						<div class="large-12 columns">
              <label for="signup_optional_tag">{{ t_general_choose_one }}</label>
							{% collection_select "optional_tag", page.signup.optional_tags, class:"select" %}
						</div> <!-- .large-12 -->
					</div> <!-- .row -->
				{% endif %}

				{% if page.signup.is_volunteers? and site.ask_for_volunteers? %}
					{% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
						<div class="row">
							<div class="large-12 columns">
                <label class="checkbox" for="signup_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} {{ t_general_volunteer }}</label>
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
					{% endif %}
				{% endif %}

				<div class="row">
					<div class="large-12 columns">
            <label for="signup_activity_is_private" class="checkbox">{% check_box "activity_is_private", class:"checkbox" %} {{ t_bomb_do_not_publish }}</label>
					</div> <!-- .large-12 -->
				</div> <!-- .row -->

				{% if page.signup.is_all_info_collected? == false %}
					{% if request.sorta_logged_in? %}
						{% submit_tag "Update info", class:"submit-button button alert submit" %}
					{% else %}
						{% submit_tag "Signup", class:"submit-button button alert submit" %}
					{% endif %}
				{% endif %}
				<div class="form-submit"></div>
			{% endform_for %}

			{% if page.text_keyword_instructions.size > 0 %}
				<div class="row padbottom padtopmore">
					<div class="large-12 columns">
						or {{ page.text_keyword_instructions }}
					</div> <!-- .large-12 -->
				</div> <!-- .row -->
			{% endif %}
		</div> <!-- .form -->
	</div> <!-- .form-wrap -->
</div> <!-- #content -->

{% if page.tags_count > 0 %}
	<div id="page-tags" class="page-tags">
		{% include "page_tags" with page %}
	</div> <!-- .page-tags -->
{% endif %}

<div class="like-page">
  <strong>{{ t_sign_like_us }}</strong>
	{% include "like_page" %}
</div> <!-- .like-page -->

{% if page.show_stream? %}
	{% include "page_stream" %}
{% endif %}
<!-- @END pages_show_signup.html -->