<!-- @END pages_show_press_release_wide.html -->
{% include 'translation_strings' %}

{% include "breadcrumbs" %}

<div id="content">
	<div class="press-release">
		<div class="header">
			<div class="released-at">
			{{ page.published_at | date: '%B %d, %Y' }}
			</div> <!-- .released-at -->

			{% if page.has_author? %}
				<div class="contact vcard">
					<div class="contact-name">
            {{ t_event_contact }}: <span class="n">{{ page.author.published_name }}</span>
					</div> <!-- .contact-name -->
					
					{% if page.author.has_phone? %}
						<div class="tel">
						{{ page.author.phone_number }}
						</div> <!-- .tel -->
					{% endif %}

					{% if page.author.has_email? %}
						<div class="email">
						{{ page.author.email | enkode_email }}
						</div> <!-- .email -->
					{% endif %}
				</div> <!-- .contact -->
			{% endif %}

			<h2 class="headline">{{ page.headline }}</h2>
		</div> <!-- .header -->
	</div> <!-- .press-release -->
	
	<div id="intro" class="intro">
	{{ page.press_release.content }}
	</div> <!-- .intro -->

	{% if page.tags_count > 0 %}
		<div id="page-tags" class="page-tags">
		{% include "page_tags" with page %}
		</div> <!-- .page-tags -->
	{% endif %}

	<div class="like-page">
    <strong>{{ t_general_do_you_like_this_page }}</strong>
		{% include "like_page" %}
	</div> <!-- .like-page -->

	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}

</div> <!-- .content -->
<!-- @END pages_show_press_release_wide.html -->