{% include "breadcrumbs" %}

{% include "headline" %}

{% include "translation_strings" %}

<div id="content">
  
  <p>{{ t_general_you_are_following }}</p>

  {% if site.has_friends_page? %}
  
  {% if request.current_signup.has_facebook_authorization? == false %}
  
  <div class="padbottommore">
    <div class="padbottomless"><strong>{{ t_general_facebook_not_connected }}</strong></div>
    <a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
  </div>
  
  {% endif %}
  
  {% if request.current_signup.has_twitter_authorization? == false %}
  
  <div class="padbottommore">
    <div class="padbottomless"><strong>{{ t_general_twitter_not_connected }}</strong></div>
    <a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
  </div>
  
  {% endif %}
  
  {% endif %}
  
</div>

  <div class="padtop">
  {% for following in request.current_signup.followings %}
  {% assign signup = following.following %}
    <div class="people-list {% cycle 'odd', 'even' %}">
      {% include "signup_show" %}
    </div>
  {% endfor %}
  </div>
  
  {{ request.current_signup.followings | paginate prev_label: "&laquo;" next_label: "&raquo;" }}
