<!-- @START pages_show_unsubscribe_wide.html -->
{% include 'translation_strings' %}

{% include "breadcrumbs" %}

{% include "headline" %}

<div class="form">
	{% form_for unsubscribe %}
		<div class="form-errors">{% error_messages_for unsubscribe %}</div>

		<div class="row">
			<div class="large-12 columns">
				<label for="unsubscribe_email">{{ t_general_email }}</label>{% email_field "email", class:"text" %}
			</div>
		</div> <!-- .row -->

		{% submit_tag {{ t_general_unsubscribe }}, class:"submit-button button" %}
		<div class="form-submit"></div>
	{% endform_for %}
</div> <!-- .form -->
<!-- @END pages_show_unsubscribe_wide.html -->