<!-- @START pages_show_basic_wide.html -->
{% include "breadcrumbs" %}

{% include "translation_strings" %}

{% include "headline" %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}

	<div class="like-page">
    <strong>{{ t_general_do_you_like_this_page }}</strong>

		{% include "like_page" %}
	</div>

	{% if page.show_stream? %}
		{% include "page_stream" %}
	{% endif %}
</div>
<!-- @END pages_show_basic_wide.html -->