<!-- @START pages_show_endorsement_wide.html -->
{% include "breadcrumbs" %}

{% include "translation_strings" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	{% if page.endorsement.intro.size > 0 %}
		<div id="intro" class="intro">
		{{ page.endorsement.intro }}
		</div> <!-- .intro -->
	{% endif %}

	{% if page.endorsement.content.size > 0 %}
		<div id="endorsement-content">
		{{ page.endorsement.content }}
		</div> <!-- #endorsement-content -->
	{% endif %}

	{% if page.show_social_slider? and page.public_activities_count > 0 %}
		{% include "social_slider" %}
	{% endif %}

	{% if page.endorsement.has_goal? %}
		{% assign thermo_width = 48.61878453038674 %}
		<div class="clearfix padbottom">
			<div class="progress" style="width: {{ thermo_width }}%;">
				<div class="bar bar-success" style="width: {{ page.endorsement.percent_of_goal | times:100 }}%;">
					{% if page.endorsement.endorsements_count < 2 %}
          <div class="bar-text">{{ t_juststarted }}</div>
					{% else %}
          <div class="bar-text">{{ page.endorsement.endorsements_count | number_with_commas }} {{ t_general_endorsements }}</div>
					{% endif %}
				</div> <!-- .bar -->
			</div> <!-- .progress -->
			<div class="bar-goal">{{ page.endorsement.goal | number_with_commas }} {{ t_general_endorsements }}</div>
		</div> <!-- .clearfix -->
	{% elsif page.endorsement.endorsements_count > 4 %}
		<p><strong>{{ page.endorsement.endorsements_count | number_with_commas }} {{ t_general_endorsements }}</strong></p>
	{% endif %}

{% if page.endorsement.is_signed? %}
	{% form_for endorsement %}
	<div class="form-wrap">
		<div class="form">
      <h3 class="">{{ t_general_thanksigning }}</h3>

			<div class="form-errors">{% error_messages_for endorsements %}</div>

			{% if page.is_commentable? %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_content">{{ t_general_change_comment }}</label>{% text_area "content", class:"textarea" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
			{% endif %}

			{% if page.endorsement.is_image? %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_image">{{ t_general_upload_logo }}</label>{% file_field "image", class:"file" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
		
				{% if endorsement.has_image? %}
					<div class="row">
						<div class="large-12 column"><img src="{{ endorsement.large_square_image_url }}" width="140" height="140" border="0"/>
						</div>
					</div> <!-- .row -->
				{% endif %}
			{% endif %}

			{% if page.is_commentable? %}
				{% submit_tag "Update endorsement", class:"button submit-button" %}
			{% endif %}

			{{ page.endorsement.current_endorsement | delete_link message: "Remove endorsement" class_name: "button destroy-link" }}

			<div class="form-submit"></div>
		</div> <!-- .form -->
	{% endform_for %}
	</div> <!-- .form-wrap -->

{% else %}

	{% form_for endorsement %}
		<div class="form-wrap">
			<div class="form">

				{% if request.sorta_logged_in? %}
        <h4 class="">{{ t_endorse_will_you }}</h4>

					{% if request.logged_in? == false %}
						<div class="">
              {{ t_general_youarenot }}
            </div>
					{% endif %}
				{% else %}
        <h4 class="">{{ t_endorse_will_you }}</h4>
				{% endif %}
			<div class="form-errors">{% error_messages_for endorsement %}</div>

			{% if page.endorsement.require_organization? %}

				{% if page.endorsement.is_organization? %}
					<div class="row">
						<div class="large-6 column">
              <label for="endorsement_employer">{{ t_general_org_company }}</label>{% text_field "employer", class:"text" %}
						</div> <!-- .large-6 column -->
						<div class="large-6 column">
              <label for="endorsement_occupation">{{ t_general_your_title }}</label>{% text_field "occupation", class:"text" %}
						</div> <!-- .large-6 column -->
					</div> <!-- .row -->
					<div class="row">
						<div class="large-12 column">
              <label for="endorsement_is_organization" class="checkbox">{% check_box "is_organization", class:"checkbox" %} {{ t_endorse_myorg }}</label>
						</div> <!-- .large-12 column -->
					</div> <!-- .row -->
				{% endif %}

				{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
					<div class="row">
						<div class="large-6 column">
              <label for="endorsement_first_name">{{ t_general_firstname }}</label>{% text_field "first_name", class:"text" %}
						</div> <!-- .large-6 column -->
						<div class="large-6 column">
              <label for="endorsement_last_name">{{ t_general_lastname }}</label>{% text_field "last_name", class:"text" %}
						</div> <!-- .large-6 column -->
					</div> <!-- .row -->
				{% endif %}

			{% else %}

				{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
					<div class="row">
						<div class="large-6 column">
              <label for="endorsement_first_name">{{ t_general_firstname }}</label>{% text_field "first_name", class:"text" %}
						</div> <!-- .large-6 column -->
						<div class="large-6 column">
              <label for="endorsement_last_name">{{ t_general_lastname }}</label>{% text_field "last_name", class:"text" %}
						</div> <!-- .large-6 column -->
					</div> <!-- .row -->
				{% endif %}
			{% endif %}

			{% if request.sorta_logged_in? == false %}
				<div class="row">
					<div class="large-6 column">
            <label for="endorsement_email">{{ t_general_email }}</label>{% email_field "email", class:"text" %}
					</div> <!-- .large-6 column -->

					{% if site.ask_for_mobiles? %}
						<div class="large-6 column">
              <label for="endorsement_mobile_number">{{ t_general_mobil_phone }}</label>{% phone_field "mobile_number", class:"text" %}
						</div> <!-- .large-6 column -->
					{% endif %}
				</div> <!-- .row -->
				<div class="row">
					<div class="large-6 column">
            <label for="endorsement_email_opt_in" class="checkbox">{% check_box "email_opt_in", class:"checkbox" %} {{ t_general_send_email_updates }}</label>
					</div> <!-- .large-6 column -->

					{% if site.ask_for_mobiles? %}
						<div class="large-6 column">
              <label for="endorsement_mobile_opt_in" class="checkbox">{% check_box "mobile_opt_in", class:"checkbox" %} {{ t_general_send_text_messages }}</label>
						</div> <!-- .large-6 column -->
					{% endif %}
				</div> <!-- row.fluid -->
			{% endif %}

			{% if page.endorsement.is_organization? and page.endorsement.require_organization? == false %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_employer">{{ t_general_org_company  }}  {{ t_general_optional }}</label>{% text_field "employer", class:"text" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_occupation">{{ t_general_your_title }} {{ t_general_optional }}</label>{% text_field "occupation", class:"text" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_is_organization" class="checkbox">{% check_box "is_organization", class:"checkbox" %} {{ t_endorse_myorg }}</label>
					</div> <!-- .large-12 column -->
				</div> <!-- row -->
			{% endif %}

			{% if page.endorsement.is_phone? %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_phone_number">{{ t_general_phone }}</label>{% phone_field "phone_number", class:"text" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
			{% endif %}

			{% if page.endorsement.is_address? %}

				{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
					<div class="row">
						<div class="large-12 column">
              <label for="endorsement_submitted_address">{{ t_general_address }}</label>{% text_field "submitted_address", class:"text" %}
						</div> <!-- .large-12 column -->
					</div> <!-- .row -->
				{% endif %}
			{% endif %}

			{% if page.is_commentable? %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_content">{{t_general_comments}} {{ t_general_optional }}</label>{% text_area "content", class:"textarea" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
			{% endif %}

			{% if page.endorsement.is_image? %}
				<div class="row">
					<div class="large-12 column">
            <label for="endorsement_image">{{ t_general_upload_logo }}</label>{% file_field "image", class:"file" %}
					</div> <!-- .large-12 column -->
				</div> <!-- .row -->
			{% endif %}

			{% if page.endorsement.is_volunteer? and site.ask_for_volunteers? %}

				{% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
					<div class="row">
						<div class="large-12 column">
              <label for="endorsement_is_volunteer" class="checkbox">{% check_box "is_volunteer", class:"checkbox" %} {{ t_general_volunteer }}</label>
						</div> <!-- .large-12 column -->
					</div> <!-- .row -->
				{% endif %}
			{% endif %}

			{% submit_tag "Add endorsement", class:"button submit-button" %}
			<div class="form-submit"></div>
			</div> <!-- .form -->
		{% endform_for %}

		{% if page.text_keyword_instructions.size > 0 %}
			<div class="">
			or {{ page.text_keyword_instructions }}
			</div>
		{% endif %}

		</div> <!-- .form-wrapper -->

	{% endif %}

	{% if page.tags_count > 0 %}
		<div id="page-tags" class="page-tags">
			{% include "page_tags" with page %}
		</div> <!-- .page-tags -->
	{% endif %}

	<div class="like-page">
    <strong>{{ t_general_like_this }}</strong>
		{% include "like_page" %}
	</div> <!-- .like-page -->


	{% if page.endorsement.featured_endorsements.size > 0 %}
		<div class="">
      <h4>{{ t_endorse_featured }}</h4>
		</div>

		{% if page.endorsement.is_image? %}

			{% if page.endorsement.featured_endorsements_with_images.size > 0 %}
				<div class="">

					{% for endorsement in page.endorsement.featured_endorsements_with_images %}
						<img src="{{ endorsement.large_square_image_url }}" border="0" width="140" height="140">
					{% endfor %}
				</div>
			{% endif %}
			<div class="">

				{% if page.endorsement.featured_endorsements_without_images.size > 0 %}

					{% for endorsement in page.endorsement.featured_endorsements_without_images %}

						{% if endorsement.is_organization? %}
							<span class="endorser">
			
								{% if endorsement.signup.employer.size > 0 %}
									<span class="employer">{{ endorsement.signup.employer }}</span> -
								{% endif %}
								{{ endorsement.signup.published_name_linked }}
								{% if endorsement.signup.occupation.size > 0 %}, 
									{{ endorsement.signup.occupation }}
								{% endif %}
							&nbsp;&middot;&nbsp;</span> <!-- .endorser -->
						{% else %}
							<span class="endorser">{{ endorsement.signup.published_name_linked }} &nbsp;&middot;&nbsp;</span>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		{% else %}
			<div class="">

				{% for endorsement in page.endorsement.featured_endorsements %}

					{% if endorsement.is_organization? %}
						{{ endorsement.signup.employer }} - {{ endorsement.signup.published_name_linked }}, {{ endorsement.signup.occupation }}
					{% else %}
						{{ endorsement.signup.published_name_linked }}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	{% endif %}

	{% if page.show_stream? %}
		{% include "page_stream" %}
	{% endif %}
</div> <!-- .content -->
<!-- @END pages_show_endorsement_wide.html -->