<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<!-- @START splash.html -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page_title }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{{ theme['foundation.min.css'] }}" type="text/css">
	<link rel="stylesheet" href="theme.scss" type="text/css">
	<link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css" media="screen and (min-width: 768px)">

	<!-- because ie8 ignores media queries, we need this -->
	<!--[if IE 8]>
	<link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css">
	<![endif]-->

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="ie.scss" type="text/css">
	<![endif]-->

	{{ content_for_header }}

	{% include 'translation_strings' %}

	<!-- Font Awesome -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<!-- Modernizr -->
	<script src="{{ theme['modernizr.js'] }}"></script>

	<script type="text/javascript">
		NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
	</script>
  
  {% include "translation_strings" %}
</head>

<body class="aware-theme v2-theme {{ page.page_class_name }} js">
	<div class="header-wrap">
		<div id="header" class="row">
			{% include "header" %}
		</div> <!-- #header --> 
	</div> <!-- .header-wrap -->

	{% if page.features_count > 0 %}
		<div id="features-row" class="row">
			<div class="large-12 columns features">
				{% include "features" %}
			</div> <!-- .features -->
		</div> <!-- #features-row -->
	{% endif %}


	<div class="body-wrap">
		<div id="body" class="row">
			{% include "columns_1" %}
		</div> <!-- #body -->
	</div> <!-- .body-wrap -->

	<div class="footer-wrap">
		<div id="footer" class="row">
			{{ content_for_footer }}
	
			{% include "footer" %}
		</div> <!-- #footer -->
	</div> <!-- .footer-wrap -->

	{% if site.has_background_image? %}
		<!--[if lt IE 9]>
			<script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
			<script type="text/javascript">
				jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
			</script>
		<![endif]-->

		<style>
			body {
				background: url('{{ site.background_image_url }}') no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		</style>
	{% endif %}

	<!-- Foundation -->
	<script src="{{ theme['foundation.min.js'] }}"></script>

	<script>
		$(document).foundation();
	</script>
</body>
<!-- @END splash.html -->
</html>