/*
theme.scss
Created by Richir Outreach with "Presence" as a base
Buildy V0.2.2
*/

/*
	--------------------------------------------------------------------------
		Variables
	--------------------------------------------------------------------------
*/

// Color variables used in Foundation
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;


/*
	--------------------------------------------------------------------------
		Imports
	--------------------------------------------------------------------------
*/

// Default CSS & Foundation Imports
@import "buildy";

// activity and page icons
@import "icons";

// user icon tooltips
@import "tooltips";

/*
	--------------------------------------------------------------------------
		General Styles
	--------------------------------------------------------------------------
*/


/*
	--------------------------------------------------------------------------
		Header
	--------------------------------------------------------------------------
*/




/*
	--------------------------------------------------------------------------
		Navigation
	--------------------------------------------------------------------------
*/



/*
	--------------------------------------------------------------------------
		Footer
	--------------------------------------------------------------------------
*/



/*
	--------------------------------------------------------------------------
		Specific Page Style #1
	--------------------------------------------------------------------------
*/


/*
	--------------------------------------------------------------------------
		Specific Page Style #2
	--------------------------------------------------------------------------
*/