<!-- @START user_sessions_new_wide .html -->
<div class="form">
	{% if request.sorta_logged_in? and request.current_signup.has_password? == true %}
		<h2>Please verify your password</h2>
	{% elsif request.sorta_logged_in? and request.current_signup.has_password? == false %}
		<h2>
			Please activate your account{% if request.current_signup.has_facebook_info? %}, or <a href="{{ request.facebook_connect_url }}">sign in with Facebook</a>.{% else %}.{% endif %}
		</h2>
	{% else %}
		<h2>Sign in with Facebook or Twitter</h2>
	{% endif %}

	{% if request.sorta_logged_in? and request.current_signup.has_password? == true %}
		{% form_for user_session %}
			<div class="form-errors">{% error_messages_for user_session %}</div>
		
			{% hidden_field_tag "user_session[email]", request.current_signup.email %}

			<p><label for="user_session_password">Password</label><br>{% password_field "password", class:"text" %}</p>

			{% submit_tag "Sign in with password", class:"submit-button button alert submit" %}
			<div class="form-submit"></div>

			<div class="padtopmore">
				<a href="{{ request.new_password_reset_url }}" class="button small">Forgot your password?</a>
			</div>
			
			{% if request.current_signup.has_facebook_info? or request.current_signup.has_twitter_info? %}
				<div class="center">
					<div class="padtop padbottom">
						<div class="orsignin_wrap">
							<span id="orsignin">Or sign in with {% if request.current_signup.has_facebook_info? %}Facebook{% endif %} {% if request.current_signup.has_twitter_info? %}or Twitter{% endif %}</span>
						</div>
					</div>

					{% if request.current_signup.has_facebook_info? %}
						<a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}" style="margin-right: 5px;" /></a>
					{% endif %}

					{% if request.current_signup.has_twitter_info? %}
						<a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}" style="margin-left: 5px;" /></a>
					{% endif %}
				</div> <!-- .center -->
			{% endif %}

			<div class="center padtop">
				If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
			</div>
		{% endform_for %}
	{% elsif request.sorta_logged_in? and request.current_signup.has_password? == false %}
		{% if request.current_signup.has_facebook_info? or request.current_signup.has_twitter_info? %}
			<div class="padtopmore">
				{% if request.current_signup.has_facebook_info? %}
					<div class="padtopless">
						<a href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}"></a>
					</div>
				{% endif %}

				{% if request.current_signup.has_twitter_info? %}
					<div class="padtopless">
						<a href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}"></a>
					</div>
				{% endif %}

				<div class="padtop">or...</div>
			</div>
		{% endif %}

		{% form_for account %}
			{% hidden_field_tag "account[email]", request.current_signup.email %}
		
			<div class="padtopmore">
				{% submit_tag "Email account activation instructions" , class:"submit-button button alert submit" %}
				<div class="form-submit"></div>
			</div>
		{% endform_for %}

		<div class="padtop">
			If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
		</div>
	{% else %}
		<div class="center">
			<div class="padtopmore">
				<div class="signin-with-facebook">
					<a title="Sign in with Facebook" href="{{ request.facebook_connect_url }}"><img src="{{ "signin_with_facebook.png" | asset_path }}" alt="Sign in with Facebook"></a>
				</div>

				<div class="signin-with-twitter">
					<a title="Sign in with Twitter" href="{{ request.twitter_connect_url }}"><img src="{{ "signin_with_twitter.png" | asset_path }}" alt="Sign in with Twitter"></a>
				</div>
			</div>
			
			<h4>Or sign in with your email address</h4>
		</div>
		
		<div class="row">
			<div class="large-11 large-offset-1 columns">
				<div class="row">
					<div class="large-5 columns">
						<div class="row">
							<div class="large-12 columns">
								<h4>I have an account</h4>
							</div> <!-- .large-12 -->
						</div> <!-- .row -->
						
						{% form_for user_session %}
							<div class="row">
								<div class="large-12 columns">
									<div class="form-errors">{% error_messages_for user_session %}</div>
									<label for="user_session_email">Email Address</label>
									{% email_field "email", class:"text" %}
								</div> <!-- .large-12 -->
							</div> <!-- .row -->

							<div class="row">
								<div class="large-12 columns">
									<label for="user_session_password">Password</label>
									{% password_field "password", class:"text" %}
								</div> <!-- .large-12 -->
							</div>

							<div class="row">
								<div class="large-12 columns">
									<label for="user_session_remember_me" class="checkbox">{% check_box "remember_me", class:"checkbox" %} Remember me</label>
								</div> <!-- .large-12 -->
							</div> <!-- .row -->

							<div class="row">
								<div class="large-12 columns">
									{% submit_tag "Sign in with email", class:"submit-button button alert submit" %}
									<div class="form-submit"></div>
								</div> <!-- .large-12 -->
							</div> <!-- .row -->

							<div class="padtop">
								<small><a href="{{ request.new_password_reset_url }}" class="small button">Forgot your password?</a></small>
							</div>
						{% endform_for %}
					</div>
					
					<div class="large-5 large-offset-1 columns">
						<h4>Create an account</h4>
					</div>
						
					{% form_for account %}
						<div class="large-5 large-offset-1 columns">
							<div class="form-errors">{% error_messages_for account %}</div>
							<label for="account_email">Email Address</label>
							{% email_field "email", class:"text" %}
						</div> <!-- .large-5 -->

						<div class="large-5 columns large-offset-1">
							{% submit_tag "Send account activation", class:"submit-button button alert submit" %}
							<div class="form-submit"></div>
						</div> <!-- .large-5 -->
					{% endform_for %}
				</div> <!-- .row -->
			</div> <!-- .large-11 -->
		</div> <!-- .row -->
	{% endif %}
</div> <!-- .form -->
<!-- @END user_sessions_new_wide.html -->